/*Ajustes*/
.presentation{
    height: auto;
    
}
.presentation .contacto{
    height: auto;
    background-color: #00000012;
    padding-bottom:10vh;
}
/*Style galeria*/
.grid{
    margin: auto ; 
    display: grid; 
    width: 80vw;
    row-gap: 3vh;
    column-gap: 2.5vw;
    grid-template-columns: 1fr 1fr;
}
.grid .grid-item{
    transition:1s;
    border: 1px solid black;
    border-radius: 3px;
    width: 40vw;
    height: 40vh;
    background-color: white;
    box-shadow: 2px 3px 6px 4px rgba(20, 20, 20, 0.301);
    background-position: center;
}
.grid a:hover div{
    width: 45vw;
    height: 45vh;
}
.item1{
    background-size: cover;
    background-image: url(../images/DSC09043.JPG);
}
.item2{
    background-size: cover;
    background-image: url(../images/cachorrito.jpg);
}
.item3{
    background-size: cover;
    background-image: url(../images/DSC08828.JPG);
}
.item4{
    background-size: cover;
    background-image: url(../images/DSC08752.JPG);
}
.item5{
    background-size: cover;
    background-image: url(../images/DSC09061.JPG);
}
.item6{
    background-size: cover;
    background-image: url(../images/DSC09039.JPG);
}
.item7{
    background-size: cover;
    background-image: url(../images/DSC09106.JPG);
}
.item8{
    background-size: cover;
    background-image: url(../images/DSC09108.JPG);
}
.item9{
    background-size: cover;
    background-image: url(../images/DSC09127.JPG);
}
.item10{
    background-size: cover;
    background-image: url(../images/suckoEffecto.jpg);
}